body{
    background-color: rgb(173, 241, 213);
    background-image: url("boxing_ring.png");
}

   
.boxed{
    background-color: rgba(250, 246, 246, 0.952);
    padding: 5px;
    border: 8px solid black;
    width: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2{
    float: right;
    background-color: rgba(250, 246, 246, 0.952);
    position: relative;
    top: 5px;
    padding: 5px;
    border: 8px solid black;
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: baseline;
}