  <footer>
    <p>&copy; Faith McKenna, {{ site.year }}</p>
    <nav class="socials">
        <ul>
           <li>
                <a href="https://www.linkedin.com/in/faithlierheimer/" target="_blank" class="social social-linkedin">LinkedIn</a> 
           </li>

           <li>
                <a href="mailto:flierheimer@gmail.com" target="_blank" class="social social-email">Email</a> 
           </li>

           <li>
                
                <a href="http://github.com/faithlierheimer" target="_blank" class="social social-github">GitHub</a> 
           </li>

           <li>
                <a href="https://bsky.app/profile/faithebear.bsky.social" target="_blank" class="social social-bluesky">Bluesky</a> 
           </li>

        </ul>
    </nav>
  </footer>