---
layout: layouts/base.njk
pagination:
  data: pages.blog.pages
  size: 10
  alias: blogPages
permalink: "/{{ pages.blog.main.permalink }}/{% if pagination.pageNumber > 0 %}all/{{ pagination.pageNumber + 1 }}/{% endif %}"
eleventyComputed:
  metaTitle: "{{ pages.blog.main.metaTitle }}"
  metaDescription: "{{ pages.blog.main.description }}"
cssFile: "blog-home.css"
---

{% set blog = pages.blog.main %}
{% set blogCategories = blog.categories %}
{% set selectedId = "all" %}
{% from "../../templates/blog-card.njk" import blogCard %}
<link rel="stylesheet" href="/css/{{ cssFile }}" />

<section class="title-section">
    {{ blog.body | safe }}
</section>

{% include "../../templates/blog-categories.njk" %}

<section class="blog-card-container">
    {% for page in blogPages %}
        {{ blogCard(page) }}
    {% endfor %}
</section>

{% include "../../templates/pagination-nav.njk" %}