.news ul {
    padding-left: 0;
}

.news li {
    font-weight: 300;
    font-size: 1rem;
    color: var(--text-white);
    padding: .5rem 0;
}

.news li span {
    font-weight: 800;
    margin-right: .5rem;
}

.news a {
    color: var(--text-white);
    font-weight: bold;
    cursor: pointer;
}
.news a:hover {
    color: var(--text-link-hover);
}
