body{
    background-color:#FFFAFA;
}

h1{
    text-align:center;
}

h5{
    text-align:center;
}
   
.boxed{
    position: absolute;
    right: 40%;
    background-color: rgba(250, 246, 246, 0.952);
    padding: 5px;
    border: 8px solid black;
    width: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2{
    position: absolute;
    top: 35%;
    right: 31%;
    align-items: flex-end;
}
.box3{
    position: absolute;
    top:55%;
    right: 55%;
    align-items: baseline;
}
.box4{
    position: absolute;
    top:40%;
    align-items: baseline;
}