<!DOCTYPE html>
<html lang="en">
    <head>
<!--Meta Tags & Bringing in Bootstrap and Bootswatch-->
        <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <link rel = "stylesheet" href="Resources/bootstrap.css">
          <link rel = "stylesheet" href = "../static/styles.css">
          <title>About Faith</title>
    </head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Victoria Faith Lierheimer</a>
        <!--data-toggle = "collapse"-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
                <a class="dropdown-item" href="index.html">Home</a> 
                <a class="dropdown-item" href="projects.html">Projects</a>
                <a class="dropdown-item" href="resume.html">Resume</a>
                <a class="dropdown-item" href="hobbies.html">Hobbies</a>
                <a class="dropdown-item" href="hobbies.html">Hobbies</a>
                <a class="dropdown-item" href="hobbies.html">Hobbies</a>
          </ul>
        </div>
        <!-- </div> -->
      </nav>
    <div class="container">
        <div class="row">
          <div class = "col-12">
            <h1>Hello, potential employer and/or curious internet citizen!</h1>
          </div>
        </div>
        <div class = "row">
            <div class = "col-6">
                <img src = "punch.JPG" style = "width: 400px; height:400px;">
                <br>
                <br>
                Thank you for visiting my portfolio page. Here, you can learn more about me, 
                Victoria Faith Lierheimer (alias Faith), see the projects I have built since 
                I started training in the field of data analytics, science, and visualization,
                and become convinced that I would make an excellent team member, collaboration
                partner for that nifty side project you've been wanting to do, or benevolent overlord. 
                No matter what you seek, I wish you the best in your time on my portfolio page. 
                Please visit the handy dropdown button in the top right corner to explore my projects, 
                see my resume, and my hobbies. 
            </div>
            <div class = "col-6">
                <img src = "13thfloor.jpg" style = "width: 400px; height:400px;">
                <br>
                <br>
                Because if you're looking for a collaborator or a teammate on your data team, you 
                don't just want a code monkey, you want a cool and fun person who is Down With The Kids, 
                and I can promise the first two things. 
            </div>
            </h5>
          </div>

        </div>

    </div>
</body>
</html>