<!DOCTYPE html>
<html lang="en">
    <head>
<!--Meta Tags & Bringing in Bootstrap and Bootswatch-->
        <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <link rel = "stylesheet" href="Resources/bootstrap.css">
          <link rel = "stylesheet" href = "../static/styles.css">
          <title>About Faith</title>
    </head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">B Corp Analysis</a>
        <!--data-toggle = "collapse"-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
                <a class="dropdown-item" href="index.html">Home</a> 
                <a class="dropdown-item" href="impact_areas.html">Impact Area Breakdown</a>
                <a class="dropdown-item" href="data.html">Data Table Preview</a>
                <a class="dropdown-item" href="impact_score_changes.html">Impact Score Changes</a>
                <a class="dropdown-item" href="impact_scores_by_sector.html">Impact Scores by Sector</a>
                <a class ="dropdown-item" href="laureate_case_study.html">Laureate Education Case Study</a>
              </div>
          </ul>
        </div>
      </nav>
    <div class="container">
    <div class="boxed">
        <h1>Victoria Faith Lierheimer</h1>
        <h2>data analyst</h2>
        <h3>boxing enthusiast</h3>
      </div>
    <div class= "box2">
        <a href="https://www.linkedin.com/in/faithlierheimer/" target="_blank">
            <img width = "200" src = "Assets/boxingfists.JPG">
        </a> 
    </div>
    <div class = "box3">
        <a href="https://github.com/faithlierheimer" target="_blank">
            <img width = "200", src = "Assets/boxing_dress.jpg">
        </a>
    </div>
    <div class = "box4">
        <a href = "https://medium.com/@flierheimer" target = "_blank">
            <img width = "200", src = "Assets/13thfloor.JPG">
        </a>
    </div>
    </div>
</body>
</html>